
@media screen and (max-width: 991px) {
    .nav-toggle {
        display: block;
        margin-left: 30px;
    }
    .nav_linkes {
        display: none;
    }
    .example_area{
        gap: 10px;
    }
    .example_card{
        width: 49%
    }
}
